@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 1rem;
  padding-inline: 8px;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

p {
  max-width: 62ch;
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div {
  display: flex;
}

h2,
h3,
p {
  text-align: center;
}

h2 {
  margin-block: 3rem;
}

h3 {
  margin-bottom: 2rem;
}
