@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

p {
  max-width: 62ch;
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 46vh;
  min-height: 100svh;
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 76ch;
}

input {
  width: 85%;
}
