@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

p {
  max-width: 62ch;
  text-wrap: pretty;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* span {
  background-color: yellow;
} */

.highlight {
  background-color: yellow;
}

form {
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
}
